html{
    display: inline-flexbox;
    border: 0;
    margin: 0;
}

.page{
    border: 0;
    margin: 0;
}

#bar{
    display: flex;
    position:fixed;
    z-index: 1;
    height: 15vh;
    width: 100%;
    justify-content: space-between;
    background-color: rgba(36, 37, 41, .9);
}
#logo{
    height: 60%;
    text-align: center;
    align-self: center;
    line-height: .2;
    margin-left: 5vh;
}
#wwa{
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    color: white;
    font-weight: bolder;
    letter-spacing: .1em;
    align-items: center;
    justify-content: flex-start;
}

#uGo{
    font-family: 'Pirata One', cursive;
    font-size: 1rem;
    color: #F7971E;
    align-items:flex-end;
    justify-content: center;
    letter-spacing: .25;
}

.navigation{
    display: flex;
    font-size: 1.25rem;
}
.navigation li{
    align-self: flex-end;
    display: block;
    color: white;
    padding-right: 3vh;
}

#firstSec{
    display: flex;
    background-image: url(https://ei.marketwatch.com/Multimedia/2019/04/24/Photos/ZH/MW-HI185_AirPol_20190424130149_ZH.jpg?uuid=a6a59b96-66b2-11e9-ae6b-9c8e992d421e);
    background-size: cover;
    height: 100vh;
    width: 100%;
    justify-content:flex-start;
    align-items:center;
}

.fire{
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 100%;
    letter-spacing: 1px;
    line-height: .8;
}
#know{
    font-family:  'Rubik', sans-serif;
    font-weight: bolder;
    letter-spacing: .1em;
  
}
#goGo{
    font-family: 'Pirata One', cursive;
    color: #F7971E;
    letter-spacing: .25;
  }
h3 {
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    font-size: 5rem;
    margin: 10px 0;
}

.grid{
    display: flexbox;
    height: 100vh;
    width: 100%;
    border-collapse:collapse;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 50vh;
    font-family: 'Akshar', sans-serif;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-align: center;
}
  
#oneClean{
    background-color: rgb(33, 64, 14);
}
#oneClean:hover{
    filter: brightness(80%);
}
  
#twoClean{
    background-image: url(https://img.freepik.com/free-vector/cityscape-scene-eco-friendly_24877-50683.jpg?t=st=1650639161~exp=1650639761~hmac=ab6ba48b0a5c8bbfeeae277d0cbc9233bec1a35b60816bb4a55df0ce6ca2c91b&w=740);
    background-size:cover;
}
#twoClean:hover{
    filter: brightness(80%);
}

#threeClean{
    background-color: rgb(33, 64, 14);
}
#threeClean:hover{
    filter: brightness(80%);
}
  
#oneDirty{
    background-image: url(https://img.freepik.com/free-vector/polution-city-people-mask-town-panorama_627350-492.jpg?w=740);
    background-size: cover;
}
#oneDirty:hover{
    filter: brightness(80%);
}

#twoDirty{
    background-color: rgb(36, 37, 41);
}
#twoDirty:hover{
    filter: brightness(60%);
}
  
#threeDirty{
    background-image: url(https://img.freepik.com/free-vector/highly-polluting-factory-plant-with-smoking-towers-pipes-carbon-dioxide-emissions_625536-81.jpg?w=740);
    background-size: cover;
}
#threeDirty:hover{
    filter: brightness(80%);
}

#yourCity{
    display: inline-flex;
    background-color: aqua;
    background-size: cover;
    height: 100vh;
    width: 100%;
    justify-content:center;
    align-items:center;
    font-family: 'Akshar', sans-serif;
    font-size: 4rem;
    text-shadow: black;
    color: white;
    font-weight: bold;
    text-align: center;
}
.box{
    transform: translate(-50%,-50%);
  }
.input {
    padding: 10px;
    width: 80px;
    height: 80px;
    background: none;
    border: 5px solid white;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: white;
    outline: none;
    transition: .5s;
}
.box:hover input{
    width: 40vh;
    background: none;
    border-radius: 10px;
}
i{
    top: 50%;
    right: 15px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: black;
    transition: .2s;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
}